@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #2c2f39;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 1.5em;
}

body > div {
    height: 50vh;
    width: 100%;
}
body * {
    justify-items: center;
    align-items: center;
    text-align: center;
}